.login{
	width: 100vw;
	height: 100vh;
	background-image: url('./background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&__content {
		position: relative;
		background-color: rgba(255, 255, 255, 0.4);
		width: 400px;
		height: 500px;
		box-sizing: border-box;
		border-radius: 20px;
		text-align: center;
		padding: 50px 40px 30px;
		&-title {
			color: #8b8d8c;
			font-size: 36px;
		}
	}
	&__logo {
		position: absolute;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		background-color: #358ca7;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -45px;
		right: calc(50% - 45px);
		opacity: 0.8;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		> div {
			display: flex;
			line-height: 16px;
			color: #fff;
			.checkbox {
				margin-right: 8px;
			}
		}

	}

	&__prompt {
		color: #fff;
		border-top: 2px solid #fff;
		margin-top: 40px;
		padding-top: 30px;
		text-align: center;
		width: 400px;
	}
}